---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<style>
  @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
</style>

<h3 class="archive__subtitle">Journal-Player (DayOne and Spotify)</h3>
{% include video id="n9A12DHIHQs" provider="youtube" %}

<h3 class="archive__subtitle">Audiobook-Shelf (Naver AudioClip)</h3>
{% include video id="QflAEJzDn5A" provider="youtube" %}
<!-- <a href="http://www.ulkyung.kr/news/articleView.html?idxno=2592">울산경제 기사 링크</a> -->
<!-- <font size="3"> 글자크기입니다</font> -->
<p style="font-family:Nanum Gothic;"><font size="3">울산경제신문 기사 <a href="http://www.ulkyung.kr/news/articleView.html?idxno=2592">(보러 가기)</a></font></p>

<h3 class="archive__subtitle">Calendar-Clock (Google Calendar)</h3>
{% include video id="Qph6cyeruw4" provider="youtube" %}

<h3 class="archive__subtitle">Bookly</h3>
{% include video id="0C_Pc3vKHAQ" provider="youtube" %}

<h3 class="archive__subtitle">Quietto</h3>
{% include video id="skfjfEXQ2TA" provider="youtube" %}
<p style="font-family:Nanum Gothic;"><font size="3"> NEWSIS 기사 <a href="https://newsis.com/view/?id=NISX20170528_0014924530&cID=10406&pID=13000">(보러 가기)</a></font></p>


<h3 class="archive__subtitle">Soldi</h3>
{% include video id="bUfboi0SLmU" provider="youtube" %}
<p style="font-family:Nanum Gothic;"><font size="3">연합뉴스 기사 <a href="https://www.yna.co.kr/view/AKR20191010078700057">(보러 가기)</a></font></p>


<h3 class="archive__subtitle">Emotion-Frame </h3>
{% include video id="Y3XHodZLx3M" provider="youtube" %}

<!-- 

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
