---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<style>
  @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
</style>

<!-- <h1 class="archive__title">Research</h1> -->

<!-- Journal-Player -->
<!-- <h3 class="archive__subtitle">
  <a href="/research/journal-player/" style="text-decoration:none"> 
    <font color="black">
      Journal-Player (DayOne and Spotify)
    </font>
  </a> 
</h3> -->
<h3 class="archive__subtitle">Journal-Player (DayOne and Spotify)</h3>
{% include video id="n9A12DHIHQs" provider="youtube" %}
<br>

<!-- <h3 class="archive__subtitle">Journal-Player (DayOne and Spotify)</h3> -->

<!-- <img src="/assets/images/logo/chi2021.png" style="float: right; width:140px;"/> -->

<!-- Audiobook-Shelf -->
<h3 class="archive__subtitle">
  <a href="/audiobook-shelf/" style="text-decoration:none"> 
    <font color="black">
      Audiobook-Shelf (Naver AudioClip) 
    </font>
  </a> 
  <img src="/assets/images/logo/chi2021.png"  style="max-width:25%; height:auto;" alt="chi2021 logo"/>
</h3>

<!-- <h3 class="archive__subtitle"> Audiobook-Shelf (Naver AudioClip)</h3> -->
{% include video id="7O4_Z_1cJk8" provider="youtube" %}
<!-- <a href="http://www.ulkyung.kr/news/articleView.html?idxno=2592">울산경제 기사 링크</a> -->
<!-- <font size="3"> 글자크기입니다</font> -->
<!-- <strong><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link: </strong> -->
<footer class="page__meta">
  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link: </strong>
    <span itemprop="keywords">
      <a href="https://www.yna.co.kr/view/AKR20191010078700057" class="page__taxonomy-item p-category" rel="tag">
        Full-Paper </a><span class="sep">, </span>
      <a href="http://www.ulkyung.kr/news/articleView.html?idxno=2592" class="page__taxonomy-item p-category" rel="tag">
        Press Release</a><span class="sep">, </span>
      <a href="/audiobook-shelf/" class="page__taxonomy-item p-category" rel="tag">Summary</a><span class="sep">, </span>
    </span>
  </p>
 </footer>
<br>
 <!-- <strong><i class="fa-solid fa-arrow-up-right-from-square"></i></strong> -->

<!-- <p style="font-family:Nanum Gothic;"><font size="3">울산경제신문 기사 <a href="http://www.ulkyung.kr/news/articleView.html?idxno=2592">(보러 가기)</a></font></p> -->

<h3 class="archive__subtitle">Calendar-Clock (Google Calendar) <img src="/assets/images/logo/dis2020.png" style="max-width:15%; height:auto;" alt="dis2020 logo"></h3>
{% include video id="Qph6cyeruw4" provider="youtube" %}

<footer class="page__meta">
  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link: </strong>
    <span itemprop="keywords">
      <a href="https://drive.google.com/file/d/1vLLlNCqTrv7ifj3E16byNChT5HHIeU3Q/view?usp=share_link" class="page__taxonomy-item p-category" rel="tag">Full-Paper</a><span class="sep">, </span>
    </span>
  </p>
 </footer>
 <br>
 <br>

<h3 class="archive__subtitle">Quietto (Google Calendar) <img src="/assets/images/logo/chi2017.png" style="max-width:35%; height:auto;" alt="CHI 2017 logo"></h3>
{% include video id="skfjfEXQ2TA" provider="youtube" %}
<footer class="page__meta">
  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link: </strong>
    <span itemprop="keywords">
      <a href="https://drive.google.com/file/d/1-mnCsPjhDuTadIzE6jrr0vnQMQW4nPsi/view?usp=share_link" class="page__taxonomy-item p-category" rel="tag">Full-Paper</a><span class="sep">, </span>
      <a href="https://newsis.com/view/?id=NISX20170528_0014924530&cID=10406&pID=13000" class="page__taxonomy-item p-category" rel="tag">Press Relase</a><span class="sep">, </span>
    </span>
  </p>
 </footer>
 <br>

<h3 class="archive__subtitle">Bookly (2nd Author)<img src="/assets/images/logo/chi2019.png" style="max-width:25%; height:auto;" alt="CHI 2019 logo"></h3>
{% include video id="0C_Pc3vKHAQ" provider="youtube" %}
<footer class="page__meta">
  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link: </strong>
    <span itemprop="keywords">
      <a href="https://drive.google.com/file/d/1qADZwqGo1-BaoD_RKXfcIvL0pMCBzAzo/view?usp=share_link" class="page__taxonomy-item p-category" rel="tag">Full-Paper</a><span class="sep">, </span>
    </span>
  </p>
 </footer>
 <br>

<h3 class="archive__subtitle">EmotionFrame (2nd Author)</h3>
{% include video id="Y3XHodZLx3M" provider="youtube" %}
<br>

<!-- <h1 class="archive__title">Design Projects</h1> -->

<h3 class="archive__subtitle">Soldi<img src="/assets/images/logo/soldi.png" style="max-width:80%; height:auto;" alt="reddot, g-mark, global-grad-show, midtown-design-touch logo"></h3>
{% include video id="bUfboi0SLmU" provider="youtube" %}
<footer class="page__meta">
  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link: </strong>
    <span itemprop="keywords">
      <a href="https://www.yna.co.kr/view/AKR20191010078700057" class="page__taxonomy-item p-category" rel="tag">Press Relase</a><span class="sep">, </span>
    </span>
  </p>
 </footer>
<!-- <p style="font-family:Nanum Gothic;"><font size="3">연합뉴스 기사 <a href="https://www.yna.co.kr/view/AKR20191010078700057">(보러 가기)</a></font></p> -->


<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->


<!-- <style type="text/css">
  /* link - 아직 클릭하지 않은 경우 red 색상 설정 */
  /* a:link { color: green; text-decoration: none;} */
  /* visited - 한번 클릭하거나 전에 클릭한적 있을 경우 #c71d44 설정 */
  /* a:visited { color: #c71d44; text-decoration: none;}	 */
  /* hover - 마우스를 해당 링크에 위치했을 경우 #006DD7 설정 */
  a:hover { color: #006DD7; text-decoration: underline;}
 </style>
  -->

