---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<h3 class="archive__subtitle">Journal-Player (DayOne and Spotify)</h3>
{% include video id="n9A12DHIHQs" provider="youtube" %}

<h3 class="archive__subtitle">Audiobook-Shelf (Naver AudioClip)</h3>
{% include video id="QflAEJzDn5A" provider="youtube" %}

<h3 class="archive__subtitle">Calendar-Clock (Google Calendar)</h3>
{% include video id="Qph6cyeruw4" provider="youtube" %}

<h3 class="archive__subtitle">Bookly </h3>
{% include video id="0C_Pc3vKHAQ" provider="youtube" %}

<h3 class="archive__subtitle">Soldi</h3>
{% include video id="bUfboi0SLmU" provider="youtube" %}

<h3 class="archive__subtitle">Emotion-Frame </h3>
{% include video id="Y3XHodZLx3M" provider="youtube" %}



<!-- 

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
